body {
    background-image: url("Fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.encabezado h1{
    color: rgba( 146, 43, 33, 0.9 );
    border-radius: 10px;
    box-shadow:  0 4px 8px 0 rgba: 0, 0, 0, 0.5;
    margin:20px;
}
  .encabezado h1{
    color: rgba(249, 231, 159);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}
.menu {
color: rgba(146, 43, 33, 0.9);
overflow: hidden;
}
.menu a{
    
}